<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_history_crimea.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <h1>Виртуальный музей Крыма</h1>
            </div>
            <nav class="nav">
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li>
                        <a href="#">История</a>
                        <ul class="submenu">
                            <li><a href="#">Древний Крым</a></li>
                            <li><a href="/middle_ages">Средневековье</a></li>
                            <li><a href="/modern">Новая история</a></li>
                            <li><a href="/famous_personalities">Знаменитые личности</a></li>
                            <li><a href="/photo_gallery">Фотогалерея</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Выставки</a>
                        <ul class="submenu">
                            <li><a href="/exposition">Постоянные экспозиции</a></li>
                            <li><a href="/temporary_exhibitions">Временные выставки</a></li>

                        </ul>
                    </li>
                    <li><a href="#">Экспонаты</a>
                        <ul class="submenu">
                            <li><a href="/archaeological_finds">Археологические находки</a></li>
                            <li><a href="/cultural_artifacts">Культурные артефакты</a></li>
                        </ul>

                    </li>
                    <li><a href="#">Карты и история</a>
                        <ul class="submenu">

                        <li><a href="/historical_map">Историческая карта Крыма</a></li>
                        <li><a href="/timeline">Таймлайн</a></li></li>          
                        </ul>

                    <li><a href="/about">О проекте</a></li>
                </ul>

                <div class="hamburger">
                    <span></span>
                    <span ></span>
                    <span></span>
                </div>
            </nav>
        </div>
    </header>
<main>
    <section class="ancient-crimea">
        <div class="container">
            <h2>Древний Крым</h2>
            <p>Добро пожаловать в раздел, посвящённый древней истории Крыма. Здесь вы узнаете о таврах, греках, скифах и римлянах, чья культура и обычаи сформировали уникальное наследие этого региона.</p>
            
            <div class="section">
                <h3>Тавры</h3>
                <p>Тавры – древний народ, населявший Крым с II тысячелетия до н. э. до времени появления греков в VI веке до н. э. Тавры были известны своей воинственностью и проживали в основном в горных районах и на южном побережье полуострова. Их культура, как и многие древние культуры, до сих пор остаётся в значительной мере загадкой для современных исследователей.</p>
                
                <h4>Образ жизни и общественный строй</h4>
                <p>Тавры вели полуоседлый образ жизни, сочетая занятия скотоводством с охотой и земледелием. Археологические находки свидетельствуют о наличии укреплённых поселений и многочисленных святилищ, где тавры проводили ритуалы, связанные с их религиозными верованиями. Важное место в жизни тавров занимали общинные отношения и культ предков, что отражено в их захоронениях.</p>
                
                <h4>Религия и обряды</h4>
                <p>Религиозные верования тавров включали поклонение природным силам и культы гор и рек. Особое значение имели ритуалы жертвоприношений, о чём упоминали древнегреческие историки. Тавры приносили в жертву как животных, так и военнопленных, что в значительной мере шокировало греков, познакомившихся с этой практикой.</p>
                
                <h4>Взаимодействие с другими народами</h4>
                <p>С началом греческой колонизации Крыма в VI веке до н. э. тавры начали взаимодействовать с греками, что привело к культурному обмену, но также и к конфликтам. Греки описывали тавров как свирепых и жестоких воинов, однако, археологические данные показывают, что они активно торговали с греками и перенимали некоторые элементы греческой культуры.</p>
                
                <h4>Археологические находки</h4>
                <p>Наиболее известные археологические памятники тавров включают их укреплённые поселения в горах и многочисленные захоронения, расположенные в труднодоступных местах. Эти захоронения часто содержат оружие, керамику, а также предметы быта, что свидетельствует о высоком уровне мастерства тавров в обработке металла и керамики.</p>
                
                <div class="artifacts-carousel">
                    <button class="carousel-btn prev-btn">&#10094;</button>
                    <div class="carousel-container">
                        <div class="artifact-item">
                            <img src="{{ url_for('static', filename='image/artefact_tavrov.jpg') }}" alt="Артефакт 1">
                        </div>
                        <div class="artifact-item">
                            <img src="{{ url_for('static', filename='image/artefact_tavrov_2.jpg') }}" alt="Артефакт 2">
                        </div>
                        <div class="artifact-item">
                            <img src="{{ url_for('static', filename='image/artefact_tavrov_3.jpg') }}" alt="Артефакт 3">
                        </div>
                        <div class="artifact-item">
                            <img src="{{ url_for('static', filename='image/artefact_tavrov_4.jpg') }}" alt="Артефакт 4">
                        </div>
                        <div class="artifact-item">
                            <img src="{{ url_for('static', filename='image/artefact_tavrov_5.jpeg') }}" alt="Артефакт 5">
                        </div>
                        <div class="artifact-item">
                            <img src="{{ url_for('static', filename='image/artefact_tavrov_6.jpg') }}" alt="Артефакт 6">
                        </div>
                    </div>
                    <button class="carousel-btn next-btn">&#10095;</button>
                </div>
                
            
                <h4>Роль в истории Крыма</h4>
                <p>Тавры сыграли важную роль в истории Крыма, являясь его коренным населением и оказывая значительное влияние на дальнейшую этнокультурную историю региона. После греческой колонизации их культура постепенно слилась с культурами других народов, заселявших полуостров, однако элементы таврской традиции прослеживаются и в более поздние периоды.</p>
            
                <h4>Интересные факты</h4>
                <ul>
                    <li>Древнегреческий историк Геродот описывал тавров как народ, который приносил в жертву кораблекрушенцев и совершал обряды посвящения на вершинах гор.</li>
                    <li>В горах Крыма были найдены ритуальные чаши и сосуды, которые, предположительно, использовались таврами для проведения жертвоприношений.</li>
                    <li>Современные археологические исследования показывают, что тавры активно торговали с соседними народами, включая скифов и греков, несмотря на свою репутацию воинственного народа.</li>
                </ul>
            </div>
            
            <div class="section">
                <h3>Греческие колонии в Крыму</h3>
                <p>Греки начали основывать колонии на побережье Крыма в VI веке до н. э., что значительно повлияло на развитие региона. Эти колонии, среди которых наиболее известны Херсонес и Пантикапей, стали важными центрами торговли, культуры и науки. Греческие колонисты принесли с собой свои обычаи, язык и культуру, что оказало глубокое влияние на местное население и способствовало культурному обмену.</p>
                
                <h4>Херсонес Таврический</h4>
                <p>Херсонес был основан в 422 году до н. э. выходцами из города Массалии (современный Марсель, Франция). Этот город стал важным торговым и культурным центром, благодаря своему стратегически удобному расположению на полуострове. Херсонес славился своими сооружениями, такими как театры, храмы и водопроводы, а также был известен своей монетной системой.</p>
                <img src="{{ url_for('static', filename='image/KHersones.jpg') }}" alt="Разрушенные руины Херсонеса">
                
                <h4>Пантикапей</h4>
                <p>Пантикапей, основанный в VI веке до н. э. греческими колонистами из Милета, находился на месте современного Керча. Этот город был важным торговым узлом и стратегическим форпостом. Пантикапей стал известен благодаря своим мощным укреплениям и архитектурным достижениям. В этом городе находился один из самых значительных археологических памятников древнегреческой культуры — царский дворец и огромные некрополи.</p>
                <img src="{{ url_for('static', filename='image/pantikapei.png') }}" alt="Археологические раскопки Пантикапея">
                
                <h4>Роль колоний в торговле и культуре</h4>
                <p>Греческие колонии в Крыму стали важными торговыми центрами, через которые проходили товары из разных регионов античного мира. Они способствовали распространению греческой культуры, языка и искусства. Местные жители, в свою очередь, адаптировали многие аспекты греческой культуры, что привело к созданию уникального культурного синтеза.</p>
                
                <h4>Археологические находки</h4>
                <p>Раскопки в Херсонесе и Пантикапее принесли множество ценных находок, таких как монеты, керамика, статуи и надписи. Эти артефакты помогают исследователям лучше понять жизнь в древнегреческих колониях, их торговые связи и культурные достижения. Особенно важными являются надписи, которые дают представление о политической и социальной жизни этих городов.</p>
                <img src="{{ url_for('static', filename='image/element.jpg') }}" alt="Археологические находки из греческих колоний">
                
                <h4>Влияние на современность</h4>
                <p>Наследие греческих колоний в Крыму до сих пор оказывает влияние на регион. Множество археологических памятников, сохранившихся до нашего времени, привлекают внимание исследователей и туристов. Греческая культура оставила значительный след в истории Крыма, который продолжает изучаться и восстанавливаться благодаря археологическим находкам и историческим исследованиям.</p>
            </div>
            
            <div class="section">
                <h3>Скифы в Крыму</h3>
                <p>Скифы, кочевой народ, населявший степные районы Крыма, оказали значительное влияние на регион в древности. Их культура, основанная на кочевом образе жизни, взаимодействовала с другими культурами, включая греков и римлян.</p>
                
                <h4>Скифская культура</h4>
                <p>Скифы были известны своими искусными изделиями из золота, серебра и керамики. Их культура основывалась на кочевом образе жизни, и они строили курганы для захоронений, которые содержали богатые гробницы. Эти предметы свидетельствуют о высоком уровне социального и военного статуса.</p>
                <img src="{{ url_for('static', filename='image/scale.png') }}" alt="Скифская культура и артефакты">
                
                <h4>Скифские курганы</h4>
                <p>Скифские курганы, расположенные в степных районах Крыма, представляют собой большие насыпи, под которыми находились захоронения. Эти курганы часто содержат золотые украшения, оружие и керамику, что помогает понять социальную структуру скифов и их образ жизни.</p>
                <img src="{{ url_for('static', filename='image/kurgan.jpg') }}" alt="Скифские курганы">
                
                <h4>Скифская культура в римский период</h4>
                <p>В римский период скифы продолжали сохранять свои традиционные обычаи, однако их культура начала подвергаться влиянию римской цивилизации. Археологические находки показывают, что скифы начали использовать римские предметы, такие как керамика и монеты, что свидетельствует о культурном обмене между скифами и римлянами.</p>
                <img src="{{ url_for('static', filename='image/gold.png') }}" alt="Скифские артефакты с римским влиянием">
            </div>
            
            <div class="section">
                <h3>Римский период в Крыму</h3>
                <p>С начала I века н. э., Крым стал частью Римской империи. Римляне установили контроль над регионом, что оказало значительное влияние на его развитие как торгового и культурного центра.</p>
                
                <h4>Римские колонии</h4>
                <p>На южном побережье Крыма, включая территории современных Севастополя и Херсонеса, римляне основали колонии, которые стали важными торговыми и военными пунктами. Эти города были укреплены и обладали развитой инфраструктурой, такой как дороги и акведуки, что способствовало их процветанию.</p>
                <img src="{{ url_for('static', filename='image/gorodischa.jpg') }}" alt="Римские колонии в Крыму">
                
                <h4>Археологические находки римского периода</h4>
                <p>Раскопки в Крыму обнаружили множество римских артефактов, включая монеты, керамику и архитектурные элементы. Эти находки помогают исследователям понять, как римское влияние проникало в местные культуры и как римляне адаптировались к региону.</p>
                <img src="{{ url_for('static', filename='image/artefact.webp') }}" alt="Римские археологические находки в Крыму">
                
                <h4>Влияние на современность</h4>
                <p>Археологическое наследие римского периода в Крыму продолжает привлекать внимание исследователей и туристов. Памятники, такие как римские дороги и здания, сохраняют своё значение и свидетельствуют о римском влиянии на развитие региона.</p>
                
                <h4>Взаимодействие скифов и римлян</h4>
                <p>Скифы и римляне взаимодействовали через торговлю и культурные обмены. Римляне использовали скифские товары, такие как шкуры и меха, в то время как скифы адаптировались к римским нововведениям. Этот культурный обмен отразился в археологических находках.</p>
            </div>
            
            <h3>Галерея артефактов</h3>

            <div class="gallery">
                <img src="{{ url_for('static', filename='image/nekropol.jpg') }}" alt="Артефакт 1">
                <img src="{{ url_for('static', filename='image/artefact.webp') }}" alt="Артефакт 2">
                <img src="{{ url_for('static', filename='image/artefact_3.jpg') }}" alt="Артефакт 3">
            </div>
    

    
            <div class="interactive-map">
                <h3 id="target">Интерактивная карта</h3>
                <!-- Карта с археологическими местами -->
                 <div class="map-container" id="target-section">
                <div id="map"></div>
                <div class="zoom-controls">
                    <button id="zoom-in">+</button>
                    <button id="zoom-out">-</button>
                </div>
            </div>
            </div>
        </div>
    </section>
</main>
<footer>
    <div class="container">
        <div class="footer-info">
            <h3>Виртуальный Музей Крыма</h3>
            <p>Откройте для себя богатую историю Крыма через уникальные виртуальные экспозиции и интерактивные ресурсы.</p>
        </div>
        <div class="footer-links">
            <h3>Быстрые ссылки</h3>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/history_crimea">История</a></li>
                <li><a href="/exposition">Выставки</a></li>
                <li><a href="/archaeological_finds">Экспонаты</a></li>
                <li><a href="/about">О проекте</a></li>
            </ul>
        </div>
        <div class="footer-subscribe">
            <h3>Подписка на новости</h3>
            <form action="/subscribe" method="POST">
                <input type="email" name="email" placeholder="Ваш email" required>
                <button type="submit">Подписаться</button>
            </form>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Виртуальный Музей Крыма. Все права защищены.</p>
    </div>
</footer>
    
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=b4ef5db4-1d14-40e6-b31f-8efb822e4adb" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/script_map.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script_burger_menu.js') }}"></script>

<script>
    document.addEventListener('scroll', function () {
    const items = document.querySelectorAll('.timeline-item');
    items.forEach(item => {
        const rect = item.getBoundingClientRect();
        if (rect.top >= 0 && rect.bottom <= window.innerHeight) {
            item.classList.add('is-visible');
        }
    });
});
const prevBtn = document.querySelector('.prev-btn');
const nextBtn = document.querySelector('.next-btn');
const carouselContainer = document.querySelector('.carousel-container');
let currentIndex = 0;

const updateCarousel = () => {
    const itemWidth = document.querySelector('.artifact-item').offsetWidth + 20;
    carouselContainer.style.transform = `translateX(-${currentIndex * itemWidth}px)`;
}

prevBtn.addEventListener('click', () => {
    if (currentIndex > 0) {
        currentIndex--;
    }
    updateCarousel();
});

nextBtn.addEventListener('click', () => {
    const maxIndex = carouselContainer.childElementCount - 3;
    if (currentIndex < maxIndex) {
        currentIndex++;
    }
    updateCarousel();
});

const scrollTopBtn = document.createElement('div');
scrollTopBtn.classList.add('scroll-top');
scrollTopBtn.innerHTML = '&#8679;';
document.body.appendChild(scrollTopBtn);

window.addEventListener('scroll', function() {
    scrollTopBtn.style.display = window.scrollY > 200 ? 'block' : 'none';
});

scrollTopBtn.addEventListener('click', function() {
    window.scrollTo({
        top: 0,
        behavior: 'smooth'
    });
});
</script>    
</body>
</html>