<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новая история Крыма</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_modern.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <h1>Виртуальный музей Крыма</h1>
            </div>
            <nav class="nav">
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li>
                        <a href="#">История</a>
                        <ul class="submenu">
                            <li><a href="/history_crimea">Древний Крым</a></li>
                            <li><a href="/middle_ages">Средневековье</a></li>
                            <li><a href="#">Новая история</a></li>
                            <li><a href="/famous_personalities">Знаменитые личности</a></li>
                            <li><a href="/photo_gallery">Фотогалерея</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Выставки</a>
                        <ul class="submenu">
                            <li><a href="/exposition">Постоянные экспозиции</a></li>
                            <li><a href="/temporary_exhibitions">Временные выставки</a></li>

                        </ul>
                    </li>
                    <li><a href="#">Экспонаты</a>
                        <ul class="submenu">
                            <li><a href="/archaeological_finds">Археологические находки</a></li>
                            <li><a href="/cultural_artifacts">Культурные артефакты</a></li>
                        </ul>

                    </li>
                    <li><a href="#">Карты и история</a>
                        <ul class="submenu">

                        <li><a href="/historical_map">Историческая карта Крыма</a></li>
                        <li><a href="/timeline">Таймлайн</a></li></li>          
                        </ul>

                    <li><a href="/about">О проекте</a></li>
                </ul>

                <div class="hamburger">
                    <span></span>
                    <span ></span>
                    <span></span>
                </div>
            </nav>
        </div>
    </header>

<main>
    <section>
        <div class="container">
            <div class="begin_page">
                <h1>Современный Крым: Экономика, Культура и Развитие</h1>
                <p>Добро пожаловать в раздел, посвященный современному Крыму. Здесь вы сможете узнать о текущих достижениях, проблемах и жизни региона на рубеже 21 века.</p>
            </div>
            <div>
                <h3>Экономическое развитие</h3>
                <p>Сегодня Крым активно развивается как в туристическом, так и в технологическом секторе. Главными отраслями экономики являются:</p>
                <ul>
                    <li><b>Туризм:</b> Каждый год регион привлекает миллионы туристов со всего мира. Крымские курорты на побережье Черного моря — Ялта, Алушта и Севастополь — остаются популярными круглый год.</li>
                    <li><b>Сельское хозяйство и виноделие:</b> Крым известен своими виноградниками и производством вин мирового уровня, такими как "Массандра" и "Новый Свет".</li>
                    <li><b>Транспорт и инфраструктура:</b> За последние годы был построен Крымский мост, который связал полуостров с материковой частью, улучшив транспортное сообщение и стимулировав экономический рост.</li>
                </ul>
                <h3>
                    Туризм и культурное наследие
                </h3>
                <p>Крым остаётся культурным центром, сочетающим древнюю историю с современными традициями. Основные культурные события включают:</p>
                <ul>
                    <li><b>Фестивали:</b> Международные музыкальные фестивали и театральные представления, такие как «Крымские зори», ежегодно привлекают тысячи гостей.</li>
                    <li><b>Музеи и памятники:</b> Ведётся активная работа по реставрации исторических объектов — Ханского дворца, Ласточкиного гнезда и других. Виртуальные музеи и современные арт-проекты также стали частью культурного пространства региона.</li>
                </ul>
                <h3>
                    Природа и экология
                </h3>
                <p>Крым славится уникальной природой. В регионе насчитывается более 10 природных заповедников и парков. Особое внимание уделяется сохранению биологического разнообразия:</p>
                <ul>
                    <li><b>Заповедники:</b> Крымский природный заповедник и Карадагский природный заповедник — важные центры охраны уникальной флоры и фауны.</li>
                    <li><b>Экологические проблемы:</b> Одним из главных вызовов является проблема нехватки пресной воды и опреснение, что требует современных решений для устойчивого развития региона.</li>
                </ul>
                <h3>
                    Технологии и инновации
                </h3>
                <p>Современный Крым активно внедряет цифровые технологии:</p>
                <ul>
                    <li><b>IT-парки:</b> Создаются инновационные кластеры для развития информационных технологий и стартапов.</li>
                    <li><b>Цифровизация образования:</b> Внедряются образовательные платформы и онлайн-курсы, что позволяет учащимся и студентам осваивать новые профессии.</li>
                </ul>
                <h4>
                    Социальная и культурная жизнь
                </h4>
                <p>Современная культура Крыма отражает уникальное многообразие народов, проживающих в регионе. Большое внимание уделяется возрождению и сохранению крымско-татарской культуры через фестивали, концерты и выставки.</p>
            </div>
        </div>
    </section>
    <section class="section_news">
        <div class="container">
            <p class="current_events" id="target">Следите за актуальными событиями в регионе, включая экономические достижения, культурные события и развитие технологий. Узнайте самые свежие новости прямо сейчас!</p>
            <div class="news-container">
            {% for title, description, publication_time, image in news_items %}
            <div class="news-item">
                <img src="{{ image }}" alt="Новость" class="news-image">
                <div class="news-content">
                    <h1 class="news-title">{{ title }}</h1>
                    
                    <p class="news-description">{{ description }}</p>
                    
                    <button class="read-more">Читать далее</button>
                    <p class="publication-date">Дата публикации: {{ publication_time }}</p>

                </div>
            </div>
            {% endfor %}
            </div>
        </div>
    </section>
</main>
<footer>
    <div class="container">
        <div class="footer-info">
            <h3>Виртуальный Музей Крыма</h3>
            <p>Откройте для себя богатую историю Крыма через уникальные виртуальные экспозиции и интерактивные ресурсы.</p>
        </div>
        <div class="footer-links">
            <h3>Быстрые ссылки</h3>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/history_crimea">История</a></li>
                <li><a href="/exposition">Выставки</a></li>
                <li><a href="/archaeological_finds">Экспонаты</a></li>
                <li><a href="/about">О проекте</a></li>
            </ul>
        </div>
        <div class="footer-subscribe">
            <h3>Подписка на новости</h3>
            <form action="/subscribe" method="POST">
                <input type="email" name="email" placeholder="Ваш email" required>
                <button type="submit">Подписаться</button>
            </form>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Виртуальный Музей Крыма. Все права защищены.</p>
    </div>
</footer>

<script src="{{ url_for('static', filename='js/script_burger_menu.js') }}"></script>
<!-- Подключение дополнительных скриптов -->
<script text="java/script">
    document.addEventListener('DOMContentLoaded', () => {
    // Параллакс-эффект
    const parallax = document.querySelector('.parallax-background');
    window.addEventListener('scroll', () => {
        let offset = window.pageYOffset;
        parallax.style.transform = `translateY(${offset * 0.7}px)`;
    });
});
document.addEventListener('DOMContentLoaded', function() {
        const readMoreLinks = document.querySelectorAll('.read-more');

        readMoreLinks.forEach(function(link) {
            const description = link.previousElementSibling; // Предполагается, что <p class="news-description"> перед <a>
            const fullText = description.textContent.trim();

            if (fullText.length > 100) {
                const truncatedText = fullText.substring(0, 100) + '...';
                description.textContent = truncatedText;

                link.addEventListener('click', function(e) {
                    e.preventDefault();
                    if (link.textContent === 'Читать далее') {
                        description.textContent = fullText;
                        link.textContent = 'Скрыть';
                    } else {
                        description.textContent = truncatedText;
                        link.textContent = 'Читать далее';
                    }
                });
            } else {
                link.style.display = 'none'; // Скрыть ссылку, если текст короткий
            }
        });
    });
    const scrollTopBtn = document.createElement('div');
scrollTopBtn.classList.add('scroll-top');
scrollTopBtn.innerHTML = '&#8679;';
document.body.appendChild(scrollTopBtn);

window.addEventListener('scroll', function() {
    scrollTopBtn.style.display = window.scrollY > 200 ? 'block' : 'none';
});

scrollTopBtn.addEventListener('click', function() {
    window.scrollTo({
        top: 0,
        behavior: 'smooth'
    });
});
</script>
</body>
</html>